body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 650px;
  width: 100%;
  background-color:  #fff;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ul {
  text-decoration: none;
  list-style-type: none;
}

.navigation {
  display: flex;
  flex-direction: row;
  background-color: #4f5b66;
  width: 100%;
  overflow: hidden;
  position: fixed; 

}

.navbar {
  width: 50%
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-bottom: 5px;
    font-size: 15px;
}

.search {
  width: 25%;
  display: flex;
  flex-direction: row;
  margin-left: 250px;
}

.searchTerm {
  width: 300px;
  padding: 5px;
  height: 25px;
  color: #f2f2f2;
  background-color: #65737e;
  margin-top: 15px;
  border: none;
  outline: none;
}

.searchTerm::placeholder {
  color: #f2f2f2;
}


.searchButton {
  width: 80px;
  height: 35px;
  text-align: center;
  color: #f2f2f2;
  background-color: #65737e;
  font-size: 15px;
  margin-top: 15px;
  margin-left: 10px;
  border: none;
  outline: none;
}


.main {
    margin-top: 30px;
}


